{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h2>Welcome to My Blog<h2>
        <body>
        <div align='justify'>
     This is a blog related to the github and Twitter accounts. You can collect github account details and Tweets of any users in this world, from my blog. Just choose below option for access anyones details and then give the name of user who you need the details.
 </div><p> <center>
<a href="/github"><input type="submit" value="Github"></a>
<p><center>
<a href="/twitter"><input type="submit" value="twitter"></a>


</body>
  </div>

{% endblock %}
